<style> 
    input[type=text] {
        width: 20%;
        padding: 10px 10px;
        margin: 1px 0;
        box-sizing: border-box;
        border: 2px solid#A9A9A9;
        background-color :rgb(211,211,211);
        color: white;

    }

    input[type=password] {
        width: 20%;
        padding: 10px 10px;
        margin: 1px 0;
        box-sizing: border-box;
        border: 2px solid#A9A9A9;
        background-color :rgb(211,211,211);
        color: white;

    }
    </style>

<form (submit)="login(username, password)">
  <div align="center">
  <h5>Username: <input type="text" name="username" #username placeholder="Enter username"> </h5>
  <h5>Password: <input type="password" name="password" #password placeholder="Enter password">  </h5>

  <br/>
  <input type="submit" value="submit"> <input type="submit" value="cancel">
  <br/>
  <a routerLink="/register" routerLinkActive="active">Register</a> |
  <a routerLink="/register" routerLinkActive="active">Forgot Password</a>

</div>

  </form>
