<style> 
    input[type=text] {
        width: 80%;
        padding: 10px 10px;
        margin: 1px 0;
        box-sizing: border-box;
        border: 2px solid#A9A9A9;
        background-color :rgb(211,211,211);
        color: white;

    }
    </style>

<form  #userForm="ngForm"  align = "center"  (ngSubmit)="onFormSubmit(userForm, resAddress, corrAddress)">
        <div class="form-group" class="col-lg-4 col-lg-offset-4"> <!--This format of div is requirement of bootstrp -->
        <!-- <label for="firstName" >First Name</label> -->
        <!-- when the input field is associated with ngModel Angular will create formControl object for the field
        When we use ngModel we have to add name attribute in the input tag as the ngModel needs unique value to identify
       -->
       First Name :  <input required minlength="3" maxlength="30"  ngModel name="firstName" 
        #firstName="ngModel" id="firstName" type="text" class="form-control" placeholder="Enter First Name">
        <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
          <div *ngIf="firstName.errors.required"> First name required</div>
          <div *ngIf="firstName.errors.minlength">first name should be atleast of 3 characters</div>
          <div *ngIf="firstName.errors.maxlength">first name can not more then 30 characters</div>
        </div>
      

      <!--This format of div is requirement of bootstrp -->
        <label for="lastName">Last Name</label>
        <!-- when the input field is associated with ngModel Angular will create formControl object for the field
        When we use ngModel we have to add name attribute in the input tag as the ngModel needs unique value to identify
       -->
        <input required minlength="3" maxlength="30"  ngModel name="lastName" 
        #lastName="ngModel" id="lastName" type="text" class="form-control" placeholder="Enter Last Name">
        <div class="alert alert-danger" *ngIf="lastName.touched && !lastName.valid">
          <div *ngIf="lastName.errors.required"> Last name required</div>
          <div *ngIf="lastName.errors.minlength">Last name should be atleast of 3 characters</div>
          <div *ngIf="lastName.errors.maxlength">Last name can not more then 30 characters</div>
          
        </div>
      </div>

      <div class="form-group" class="col-lg-4 col-lg-offset-4"> <!--This format of div is requirement of bootstrp -->
        <label for="email">Email</label>
        <input required minlength="3" maxlength="30"  ngModel name="email" 
        #email="ngModel" id="email" type="text" class="form-control" placeholder="Enter email">
        <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
          <div *ngIf="email.errors.required"> Email  required</div>
          <div *ngIf="email.errors.minlength">Email should be atleast of 3 characters</div>
          <div *ngIf="email.errors.maxlength">Email can not more then 30 characters</div>
          
        </div>
    </div>

    <br/>

    <p align="left"> Correspondence Address </p>

    
    <div class="form-group" class="col-lg-4 col-lg-offset-4"> <!--This format of div is requirement of bootstrp -->
        <label for="corrAddress1">Address 1</label>
        <input required minlength="3" maxlength="30"  [(ngModel)]="corrAddress.address1" 
        #corrAddress1="ngModel" id="corrAddress1" ngModel name ="corrAddress1" type="text" placeholder ="Enter address" class="form-control">
        <div class="alert alert-danger" *ngIf="corrAddress1.touched && !corrAddress1.valid">
          <div *ngIf="corrAddress1.errors.required"> Address1  required</div>
          <div *ngIf="corrAddress1.errors.minlength">Address1 should be atleast of 3 characters</div>
          <div *ngIf="corrAddress1.errors.maxlength">Address1 can not more then 30 characters</div>
        </div> 
    </div>

    <div class="form-group" class="col-lg-4 col-lg-offset-4"> <!--This format of div is requirement of bootstrp -->
      <label for="corrAddress2">Address 2</label>
      <input required minlength="3" maxlength="30"  [(ngModel)]="corrAddress.address2" 
      #corrAddress2="ngModel" id="corrAddress2" ngModel name ="corrAddress2" type="text" placeholder ="Enter address" class="form-control">
      <div class="alert alert-danger" *ngIf="corrAddress2.touched && !corrAddress2.valid">
        <div *ngIf="corrAddress2.errors.required"> Address2  required</div>
        <div *ngIf="corrAddress2.errors.minlength">Address2 should be atleast of 3 characters</div>
        <div *ngIf="corrAddress2.errors.maxlength">Address2 can not more then 30 characters</div>
      </div> 
  </div>

  <div class="form-group" class="col-lg-4 col-lg-offset-4"> <!--This format of div is requirement of bootstrp -->
    <label for="street">Street</label>
    <input required minlength="3" maxlength="30"  [(ngModel)]="corrAddress.street" 
    #street="ngModel" id="street" ngModel name ="street" type="text" placeholder ="Enter Street" class="form-control">
    <div class="alert alert-danger" *ngIf="street.touched && !street.valid">
      <div *ngIf="street.errors.required"> Street  required</div>
      <div *ngIf="street.errors.minlength">Street should be atleast of 3 characters</div>
      <div *ngIf="street.errors.maxlength">Street can not more then 30 characters</div>
    </div> 
</div>


<br/>

    <p align="left"> Residential Address </p>

    
    <div class="form-group" class="col-lg-4 col-lg-offset-4"> <!--This format of div is requirement of bootstrp -->
        <label for="resAddress1">Address 1</label>
        <input required minlength="3" maxlength="30"  [(ngModel)]="resAddress.address1" 
        #resAddress1="ngModel" id="resAddress1" ngModel name ="resAddress1" type="text" placeholder ="Enter address" class="form-control">
        <div class="alert alert-danger" *ngIf="resAddress1.touched && !resAddress1.valid">
          <div *ngIf="resAddress1.errors.required"> Address1  required</div>
          <div *ngIf="resAddress1.errors.minlength">Address1 should be atleast of 3 characters</div>
          <div *ngIf="resAddress1.errors.maxlength">Address1 can not more then 30 characters</div>
        </div> 
    </div>

    <div class="form-group" class="col-lg-4 col-lg-offset-4"> <!--This format of div is requirement of bootstrp -->
      <label for="resAddress2">Address 2</label>
      <input required minlength="3" maxlength="30"  [(ngModel)]="resAddress.address2" 
      #resAddress2="ngModel" id="resAddress2" ngModel name ="resAddress2" type="text" placeholder ="Enter address" class="form-control">
      <div class="alert alert-danger" *ngIf="resAddress2.touched && !resAddress2.valid">
        <div *ngIf="resAddress2.errors.required"> Address2  required</div>
        <div *ngIf="resAddress2.errors.minlength">Address2 should be atleast of 3 characters</div>
        <div *ngIf="resAddress2.errors.maxlength">Address2 can not more then 30 characters</div>
      </div> 
  </div>

  <div class="form-group" class="col-lg-4 col-lg-offset-4"> <!--This format of div is requirement of bootstrp -->
    <label for="street">Street</label>
    <input required minlength="3" maxlength="30"  [(ngModel)]="resAddress.street" 
    #street="ngModel" id="street" ngModel name ="street" type="text" placeholder ="Enter Street" class="form-control">
    <div class="alert alert-danger" *ngIf="street.touched && !street.valid">
      <div *ngIf="street.errors.required"> Street  required</div>
      <div *ngIf="street.errors.minlength">Street should be atleast of 3 characters</div>
      <div *ngIf="street.errors.maxlength">Street can not more then 30 characters</div>
    </div> 
  </div>

    
    <br/>
    <button type="submit" class="btn btn-default">Submit</button>
    <button class="btn btn-default" ng-click="cancelEdit()">Cancel</button>
      </form>

      

